.settings_page_jmr_variables {

	::-webkit-input-placeholder {
		color: #d2d2d2;
	}

	:-moz-placeholder {
		color: #d2d2d2;
	}

	::-moz-placeholder {
		color: #d2d2d2;
	}

	:-ms-input-placeholder {
		color: #d2d2d2;
	}

	.plugin-introduction {
		ul {
			margin-bottom: 2em;
		}
		li {
			list-style: disc;
			margin-left: 2em;
		}
	}

	section {
		border-bottom: 1px solid #ddd;
		padding: 2em 1em;

		h3 {
			align-items: center;
			cursor: pointer;
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;
			line-height: 1;
			margin: 0;
			padding: 0;
			user-select: none;

			span {
				display: inline-block;
				margin-right: 0.25em;
				transition: transform .25s ease;
			}
		}

		.jmr-fields {
			padding: 2em 0;
			transition: height .25s ease;
		}

		&.ui-collapse {

			h3 {
				span {
					transform: rotate(-90deg);
				}
			}

			.jmr-fields {
				height: 0;
				overflow: hidden;
				padding: 0;
			}
		}

		&:nth-of-type(1) {
			border-top: 1px solid #ddd;
		}

		code.jmr_var {
			color: #0085ba;
			display: inline-block;
			margin-top: .5em;
		}

		.schema-code.ui-hidden {
			display: none;
		}

		.schema-code pre {
			margin-top: 0;
		}

		.form-hours {
			label + label {
				margin-left: 2rem;
			}
		}
	}
}


#showSchemaJSON {
	.hide {
		display: inline-block;
	}
	.show {
		display: none;
	}

	&.tgt-hidden {
		.hide {
			display: none;
		}
		.show {
			display: inline-block;
		}
	}
}

select.subset {
	display: none;
}